/*--- base styles ---*/
html {
  box-sizing: border-box;
  background-color: #dae4e6;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 90.0rem;
  min-height: 37.5rem;
  -webkit-box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.08);
  color: #54626a; /* $duo-slate */
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
}

header,
main {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 68rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #363f44; /* $duo-blue */
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.875rem;
  line-height: 3.0rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.375rem;
}

h3 {
  font-size: 1.625rem;
  line-height: 1.75rem;
}

h4 {
  font-size: 1.35rem;
  line-height: 120%;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h6 {
  font-size: 0.875rem;
  line-height: 120%;
}

p {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

p a {
  margin-bottom: 0;
  color: #54626a;
}

p a:hover,
p a:focus {
  color: #54626a;
}

a {
  color: #54626a;
  text-decoration: none;
  transition: color 100ms 0ms ease-in-out, box-shadow 100ms 0ms ease-in-out;
  box-shadow: 0, 1px, 0, 0 currentColor;
}

a:hover,
a:focus {
  color: currentColor;
  box-shadow: 0, 3px, 0, 0 currentColor;
}

strong {
  color: #363f44;
}

img {
  max-width: 100%;
}

.logo {
  display: block;
  width: 110px;
}

.main-nav-lg-wrap {
  margin-right: 0;
}

.main-nav-lg {

}

.main-nav-lg-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav-lg-li {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  line-height: 1.25rem;
}

.main-nav-lg-li:last-child {
  margin-right: 0;
}

.main-nav-lg-link {
  display: inline-block;
  padding: 0.625rem 0.48rem;
  border-radius: 4px;
  font-size: 0.8125rem;
  color: $duo-blue;
}
.main-nav-lg-link:hover,
.main-nav-lg-link:focus {
  color: #6bbf4e;
}

.main-nav-icon {
  display: inline-block;
  border: 0;
  padding: 0;
  font-size: 0.8125rem;
  position: relative;
  top: 2px;
  right: 4px;
}

.btn-signup,
.btn-login {
  display: inline-block;
  margin: 0 0.375rem 0 0;
  padding: 0.7rem 1.25rem;
  border-radius: 4px;
  font-size: 0.8125rem;
}

.btn-signup {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  text-align: center;
  border-color: #6bbf4e;
  background-color: #6bbf4e;
  color: #ffffff;
}

.btn-signup:hover,
.btn-signup:focus {
  border-color: #73ce54;
  background-color: #73ce54;
  color: #ffffff;
}

.btn-login {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border: 1px solid #d4d6d9;
  color: #363f44;
  border-color: #748289;
  background-color: transparent;
}

.btn-login:hover,
.btn-login:focus {
  background-color: #363f44;
  border-color: #363f44;
  color: #ffffff;
}
/*--- end base styles ---*/

/*--- app styles ---*/
.header-hero,
.main-nav-lg-wrap {
  display: flex;
  align-items: center;
}

.main-nav-lg-wrap {
  padding-left: 1.0rem;
  flex: 1 0 70%;
}

.utility-nav {
  margin-left: auto;
}

#search-wrap {
  margin: 2.0rem auto;
  display: inline-flex;
  width: 100%;
  text-align: center;
}

#search-wrap input[type=text] {
  display: inline-block;
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px
}

#search-wrap label,
#search-wrap input[type=text] {
  padding: 1.0rem;
  font-size: 4.5rem;
}
